### Dependencies and Setup

In [16]:
# Dependencies and Setup
import pandas as pd
from IPython.display import display


# File to Load (Remember to Change These)
file_to_load = r"C:\Users\hmwhi\OneDrive\Desktop\GitHub\Pandas-challenge\Heroes of Pymoli\purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [17]:
total_players = purchase_data["SN"].nunique()

tp_df = pd.DataFrame({
    "Total Players" : [total_players]
})

# print(f"Total # of Players: {total_players}")

tp_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
# create df for items
items_df = purchase_data[["Item ID","Item Name","Price"]]
items_df = items_df.drop_duplicates(subset=["Item ID"])

In [19]:
# set variables

total_items = items_df["Item ID"].nunique()
sum_of_price = items_df["Price"].sum()


avg_item_price = (sum_of_price / total_items).__round__(2)
avg_item_price = (f"$ {avg_item_price}")
total_count_purchases = purchase_data["Purchase ID"].count()

total_revenue = purchase_data["Price"].sum()
total_revenue = (f"$ {total_revenue}")
# summary table 

PA_summary = pd.DataFrame(
    {"Unique Items" : [total_items],
    "Average Item Price" : [avg_item_price],
    "Number of Purchases" : [total_count_purchases],
    "Total Revenue" : [total_revenue]
    })

PA_summary

   Unique Items Average Item Price  Number of Purchases Total Revenue
0           179             $ 3.04                  780     $ 2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [20]:
# count the number of each gender
genderdf = purchase_data[["SN","Gender"]]
genderdf = genderdf.drop_duplicates(subset=['SN'])

male_count = (genderdf.Gender == "Male").sum()

female_count = (genderdf.Gender == "Female").sum()

other_count = (genderdf.Gender == "Other / Non-Disclosed").sum()

In [21]:
# calculate percentages

male_percent = ((male_count / total_players).round(4)) * 100
female_percent = ((female_count / total_players).round(4)) * 100
other_percent = ((other_count / total_players).round(4)) * 100

In [22]:
# create gender summary table

gender_summary = pd.DataFrame({
    "Total Count" : [male_count,female_count,other_count],
    "Percentage of Players" : [male_percent,female_percent,other_percent]
})

gender_summary.index = ['Male','Female','Other / Non-Disclosed']

gender_summary

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
# male_PA_df = gender_PA_df.loc[gender_PA_df["Gender"] == "Male", ["SN","Purchase ID","Price"]]
# # # female_PA_df = gender_PA_df.loc[gender_PA_df["Gender"] == "Female", ["SN","Purchase ID","Price"]
# other_PA_df = gender_PA_df.loc[gender_PA_df["Gender"] == "Other / Non-Disclosed", ["SN","Purchase ID","Price"]]

# purchase count per gender
# male_purchases = male_PA_df["Purchase ID"].count()
# female_purchases = female_PA_df["Purchase ID"].count()
# other_purchases = other_PA_df["Purchase ID"].count()

# # total purchase value per gender
# male_total = male_PA_df["Price"].sum()
# female_total = female_PA_df["Price"].sum()
# other_total = other_PA_df["Price"].sum()

# average purchase price per gender * round this for summary table
# male_avg_purchase = (male_total/male_purchases)
# female_avg_purchase = (female_total/female_purchases)
# other_avg_purchase = (other_total/other_purchases)

# # unique purchases per gender
# unique_male_purchases = male_PA_df["SN"].nunique()
# unique_female_purchases = female_PA_df["SN"].nunique()
# unique_other_purchases = other_PA_df["SN"].nunique()

# # average purchase per person per gender
# male_avg_per_person = male_total/unique_male_purchases
# female_avg_per_person = female_total/unique_female_purchases
# other_avg_per_person = other_total/unique_other_purchases
# print(male_avg_per_person,female_avg_per_person,other_avg_per_person)

# Purchase Analysis - Gender
# gender_purchases_summary = pd.DataFrame({
#     "Purchase Count" : [male_count,female_count,other_count],
#     "Average Purchase" : [male_avg_purchase,female_avg_purchase,other_avg_purchase],
#     "Total Purchase Value" : [male_total,female_total,other_total],
#     "Average Total Purchase per Person" : [male_avg_per_person,female_avg_per_person,other_avg_per_person]
# })

# gender_purchases_summary.index = ['Male','Female','Other / Non-Disclosed']

# gender_purchases_summary

In [24]:
# make tables for each gender

gender_PA_df = purchase_data[["Gender", "Price"]]
gender_group1 = gender_PA_df.groupby(["Gender"])

avg_per_gender = gender_group1.mean().round(2)
avg_per_gender

tot_purch = purchase_data[["Gender","Price"]]
gender_group3 = tot_purch.groupby(["Gender"])

total_gender_purch = gender_group3.sum()
total_gender_purch

gender_purchase = purchase_data[["Gender","Purchase ID"]]
gender_group2 = gender_purchase.groupby(["Gender"])

purch_per_gender = gender_group2.count()
purch_per_gender

                       Purchase ID
Gender
Female                         113
Male                           652
Other / Non-Disclosed           15

In [32]:
unique_df = purchase_data[["SN","Gender"]]
unique_df = unique_df.drop_duplicates(["SN"])
unique_df = unique_df["Gender"]
unique_df.value_counts()
male_count = unique_df.loc[unique_df == "Male"].count()
female_count = unique_df.loc[unique_df == "Female"].count()
other_count = unique_df.loc[unique_df == "Other / Non-Disclosed"].count()

# averge purchase per person per gender

unique_countsdf = pd.DataFrame({
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Unique Count": [male_count,female_count,other_count]
})

# summary table 

sum_table = pd.merge(purch_per_gender,avg_per_gender,on="Gender")

sum_table2 = pd.merge(sum_table, total_gender_purch, on="Gender")
sum_table3 = pd.merge(sum_table2, unique_countsdf, on="Gender")
sum_table3["Avg Total Purchase per Person"] = (sum_table3["Price_y"]/sum_table3["Unique Count"]).round(2)

sum_table3 = sum_table3.rename(columns=({'Price_x':"Average Purchase Price","Price_y":"Total Purchase Value"}))
gender_summary_table = sum_table3[["Gender","Purchase ID","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]]
gender_summary_table

,Gender,Purchase ID,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,3.20,361.94,4.47
1,Male,652,3.02,1967.64,4.07
2,Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
age_df = purchase_data[["Age","SN"]]
age_df = age_df.drop_duplicates(subset=["SN"])

bins = [0,9,14,19,24,29,34,39,100]

age_groups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

age_df["Age_Group"] = pd.cut(age_df["Age"], bins, labels=age_groups, include_lowest=True)
age_df.head()

   Age             SN Age_Group
0   20        Lisim78     20-24
1   40    Lisovynya38       40+
2   24     Ithergue48     20-24
3   24  Chamassasya86     20-24
4   23      Iskosia90     20-24

In [ ]:
# age group sums

group1 = (age_df.Age_Group == "<10").sum()
group2 = (age_df.Age_Group == "10-14").sum()
group3 = (age_df.Age_Group == "15-19").sum()
group4 = (age_df.Age_Group == "20-24").sum()
group5 = (age_df.Age_Group == "25-29").sum()
group6 = (age_df.Age_Group == "30-34").sum()
group7 = (age_df.Age_Group == "35-39").sum()
group8 = (age_df.Age_Group == "40+").sum()

In [ ]:
# player percentages

g1percent = (group1/total_players).round(4) *100
g2percent = (group2/total_players).round(4) *100
g3percent = (group3/total_players).round(4) *100
g4percent = (group4/total_players).round(4) *100
g5percent = (group5/total_players).round(4) *100
g6percent = (group6/total_players).round(4) *100
g7percent = (group7/total_players).round(4) *100
g8percent = (group8/total_players).round(4) *100

In [ ]:
# summary table

age_sum_table = pd.DataFrame({
    "Total Count" : [group1,group2,group3,group4,group5,group6,group7,group8],
    "Percentage of Players" : [g1percent,g2percent,g3percent,g4percent,g5percent,g6percent,g7percent,g8percent]
})

age_sum_table.index = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
age_sum_table

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
age_PA_df = purchase_data[["SN","Gender","Age","Purchase ID","Price"]]
age_PA_df["Age_Group"] = age_df["Age_Group"]

<ipython-input-16-c5d0b19abd6b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_PA_df["Age_Group"] = age_df["Age_Group"]

In [ ]:
# pa age group arrays

g1PA = age_PA_df.loc[age_PA_df["Age_Group"] == group1]
g2PA = age_PA_df.loc[age_PA_df["Age_Group"] == group2]
g3PA = age_PA_df.loc[age_PA_df["Age_Group"] == group3]
g4PA = age_PA_df.loc[age_PA_df["Age_Group"] == group4]
g5PA = age_PA_df.loc[age_PA_df["Age_Group"] == group5]
g6PA = age_PA_df.loc[age_PA_df["Age_Group"] == group6]
g7PA = age_PA_df.loc[age_PA_df["Age_Group"] == group7]
g8PA = age_PA_df.loc[age_PA_df["Age_Group"] == group8]

In [ ]:
# purchase analysis formulas
g1count = g1PA["Purchase ID"].count()
g2count = g2PA["Purchase ID"].count()
g3count = g3PA["Purchase ID"].count()
g4count = g4PA["Purchase ID"].count()
g5count = g5PA["Purchase ID"].count()
g6count = g6PA["Purchase ID"].count()
g7count = g7PA["Purchase ID"].count()
g8count = g8PA["Purchase ID"].count()

g1total = g1PA["Price"].sum()
g2total = g2PA["Price"].sum()
g3total = g3PA["Price"].sum()
g4total = g4PA["Price"].sum()
g5total = g5PA["Price"].sum()
g6total = g6PA["Price"].sum()
g7total = g7PA["Price"].sum()
g8total = g8PA["Price"].sum()

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame