### Dependencies and Setup

In [188]:
# Dependencies and Setup
import pandas as pd
from IPython.display import display


# File to Load (Remember to Change These)
file_to_load = r"C:\Users\hmwhi\OneDrive\Desktop\GitHub\Pandas-challenge\Heroes of Pymoli\purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [189]:
total_players = purchase_data["SN"].nunique()

tp_df = pd.DataFrame({
    "Total Players" : [total_players]
})

# print(f"Total # of Players: {total_players}")

tp_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [190]:
# create df for items
items_df = purchase_data[["Item ID","Item Name","Price"]]
items_df = items_df.drop_duplicates(subset=["Item ID"])

In [191]:
# set variables
total_items = items_df["Item ID"].nunique()
sum_of_price = items_df["Price"].sum()


avg_item_price = (sum_of_price / total_items)
total_count_purchases = purchase_data["Purchase ID"].count()

total_revenue = purchase_data["Price"].sum()

# summary table 
PA_summary = pd.DataFrame(
    {"Unique Items" : [total_items],
    "Average Item Price" : [avg_item_price],
    "Number of Purchases" : [total_count_purchases],
    "Total Revenue" : [total_revenue]
    })

PA_summary["Average Item Price"] = PA_summary["Average Item Price"].map("${:,.2f}".format)
PA_summary["Total Revenue"] = PA_summary["Total Revenue"].map("${:,.2f}".format)

PA_summary

   Unique Items Average Item Price  Number of Purchases Total Revenue
0           179              $3.04                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [192]:
# count the number of each gender
genderdf = purchase_data[["SN","Gender"]]
genderdf = genderdf.drop_duplicates(subset=['SN'])

male_count = (genderdf.Gender == "Male").sum()

female_count = (genderdf.Gender == "Female").sum()

other_count = (genderdf.Gender == "Other / Non-Disclosed").sum()

In [193]:
# calculate percentages
male_percent = ((male_count / total_players).round(4))
female_percent = ((female_count / total_players).round(4))
other_percent = ((other_count / total_players).round(4))

In [194]:
# create gender summary table
gender_summary = pd.DataFrame({
    "Total Count" : [male_count,female_count,other_count],
    "Percentage of Players" : [male_percent,female_percent,other_percent]
})

gender_summary.index = ['Male','Female','Other / Non-Disclosed']

gender_summary["Percentage of Players"] = gender_summary["Percentage of Players"].map("{:,.2%}".format)

gender_summary

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [195]:
# make tables for each summary statistic
gender_PA_df = purchase_data[["Gender", "Price","Purchase ID"]]
gender_group_df = gender_PA_df.groupby(["Gender"])

avg_per_gender = gender_group_df.mean().round(2)

tot_purch = purchase_data[["Gender","Price","Purchase ID"]]
gender_group3 = tot_purch.groupby(["Gender"])

total_gender_purch = gender_group3["Price"].sum()

gender_purchase = purchase_data[["Gender","Purchase ID"]]
gender_group2 = gender_purchase.groupby(["Gender"])

purch_per_gender = gender_group2.count()

In [207]:
unique_df = purchase_data[["SN","Gender"]]
unique_df = unique_df.drop_duplicates(["SN"])
unique_df = unique_df["Gender"]
unique_df.value_counts()
male_count = unique_df.loc[unique_df == "Male"].count()
female_count = unique_df.loc[unique_df == "Female"].count()
other_count = unique_df.loc[unique_df == "Other / Non-Disclosed"].count()

# averge purchase per person per gender
unique_countsdf = pd.DataFrame({
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Unique Count": [male_count,female_count,other_count]
})

# summary table 
sum_table = pd.merge(purch_per_gender,avg_per_gender,on="Gender")
sum_table1 = pd.merge(sum_table,purch_per_gender,on="Gender")
sum_table2 = pd.merge(sum_table1, total_gender_purch, on="Gender")
sum_table3 = pd.merge(sum_table2, unique_countsdf, on="Gender")
sum_table3["Avg Total Purchase per Person"] = (sum_table3["Price_y"]/sum_table3["Unique Count"]).round(2)

sum_table3 = sum_table3.rename(columns=({'Price_x':"Average Purchase Price","Price_y":"Total Purchase Value",'Purchase ID':'Purchase Count'}))
gender_summary_table = sum_table3[["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]]
gender_summary_table.index = [['Female','Male','Other / Non-Disclosed']]

gender_summary_table["Average Purchase Price"] = gender_summary_table["Average Purchase Price"].map("${:,.2f}".format)
gender_summary_table["Total Purchase Value"] = gender_summary_table["Total Purchase Value"].map("${:,.2f}".format)
gender_summary_table["Avg Total Purchase per Person"] = gender_summary_table["Avg Total Purchase per Person"].map("${:,.2f}".format)

gender_summary_table

<ipython-input-207-5eba20d3c0a5>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gender_summary_table["Average Purchase Price"] = gender_summary_table["Average Purchase Price"].map("${:,.2f}".format)
<ipython-input-207-5eba20d3c0a5>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gender_summary_table["Total Purchase Value"] = gender_summary_table["Total Purchase Value"].map("${:,.2f}".format)
<ipython-input-207-5eba20d3c0a5>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gender_summary_table["Avg Total Purchase per Person"] = gender_summary_table["Avg Total Purchase per Person"].map("${:,.2f}".format)

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [197]:
# age PA dataframe setup and binning
age_df = purchase_data[["Age","SN","Price","Purchase ID"]]

bins = [0,9,14,19,24,29,34,39,100]

age_groups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

age_df["Age Group"] = pd.cut(age_df["Age"], bins, labels=age_groups,include_lowest=True)
age_group_df = age_df.groupby("Age Group")

<ipython-input-197-97fa1b679988>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_df["Age Group"] = pd.cut(age_df["Age"], bins, labels=age_groups,include_lowest=True)

In [220]:
# summary stats for each age group
age_count = age_df

bins = [0,9,14,19,24,29,34,39,100]

age_groups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
age_df["Age Group"] = pd.cut(age_df["Age"], bins, labels=age_groups,include_lowest=True)

age_count = age_count.groupby("Age Group")
age_count_table = pd.DataFrame()
age_count_table["Total Count"] = age_count["SN"].count()

#unique_age_count_df = age_df["SN"].drop_duplicates()
# player_total = age_count_table["Age"].sum()

age_count_table["player total"] = age_count_table.drop_duplicates(["SN"])
age_count_table["Percentage of Players"] = ((age_count_table["Total Count"]/age_count_table["player total"]))
age_sum_table = age_count_table[["Total Count","Percentage of Players"]]

age_sum_table["Percentage of Players"] = age_sum_table["Percentage of Players"].map("{:,.2%}".format)

age_sum_table

<ipython-input-220-f748afb5ab2b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_df["Age Group"] = pd.cut(age_df["Age"], bins, labels=age_groups,include_lowest=True)

KeyError: Index(['SN'], dtype='object')

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [46]:
age_purch_count = age_group_df["Purchase ID"].count()
age_total_purchase = age_group_df["Price"].sum()
age_avg_purchase = (age_total_purchase/age_purch_count).round(2)

age_unique_count = age_df.drop_duplicates("SN")
age_unique_count =age_unique_count.groupby("Age Group").nunique()
age_group_unique_totals = age_unique_count["SN"]

avg_per_person_age = (age_total_purchase/age_group_unique_totals).round(2)

In [150]:
age_PA_summary_table = pd.DataFrame({
    "Purchase Count" : age_purch_count,
    "Average Purchase Price" : age_avg_purchase,
    "Total Purchase Value" : age_total_purchase,
    "Avg Total Purchase per Person" : avg_per_person_age
})

age_PA_summary_table["Average Purchase Price"] = age_PA_summary_table["Average Purchase Price"].map("${:,.2f}".format)
age_PA_summary_table["Total Purchase Value"] = age_PA_summary_table["Total Purchase Value"].map("${:,.2f}".format)
age_PA_summary_table["Avg Total Purchase per Person"] = age_PA_summary_table["Avg Total Purchase per Person"].map("${:,.2f}".format)

age_PA_summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [149]:
# top_spenders_group = purchase_data.groupby("SN")

top_spenders_df = purchase_data[["SN","Purchase ID","Price"]]
groupdf = top_spenders_df.groupby("SN").sum()["Price"].sort_values(ascending=False)
groupdf2 = top_spenders_df.groupby("SN")["Price"].mean().round(2)
groupdf3 = top_spenders_df.groupby("SN")["Purchase ID"].count()
spenders_table = pd.merge(groupdf,groupdf2,on="SN")
spenders_table = pd.merge(spenders_table,groupdf3,on="SN")
spenders_table = spenders_table[["Purchase ID","Price_y","Price_x"]]

spenders_table = spenders_table.rename(columns={
    "Price_y":"Average Purchase",
    "Price_x":"Total Purchase Value"
})

spenders_table["Average Purchase"] = spenders_table["Average Purchase"].map("${:,.2f}".format)
spenders_table["Total Purchase Value"] = spenders_table["Total Purchase Value"].map("${:,.2f}".format)

spenders_table.head()

             Purchase ID Average Purchase Total Purchase Value
SN
Lisosia93              5            $3.79               $18.96
Idastidru52            4            $3.86               $15.45
Chamjask73             3            $4.61               $13.83
Iral74                 4            $3.40               $13.62
Iskadarya95            3            $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [133]:
# item cost dataframe
item_cost_df = purchase_data.loc[:,["Item ID","Item Name","Price"]]

# item stats calculations
items_countdf = item_cost_df.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

items_totaldf = item_cost_df.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

items_pricedf = item_cost_df.groupby(["Item ID","Item Name"]).mean()["Price"]

# summary dataframe
item_data_table = pd.DataFrame({"Total Purchase Value": items_totaldf, "Item Price": items_pricedf, "Purchase Count": items_countdf})
item_data_table_sorted = item_data_table.sort_values("Purchase Count", ascending=False)

# stats formatting
item_data_table_sorted["Item Price"] = item_data_table["Item Price"].map("${:,.2f}".format)
item_data_table_sorted["Purchase Count"] = item_data_table["Purchase Count"].map("{:,}".format)
item_data_table_sorted["Total Purchase Value"] = item_data_table["Total Purchase Value"].map("${:,.2f}".format)
item_data_table_sorted = item_data_table_sorted.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]
item_data_table_sorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [141]:
profitable_items_table = item_data_table.sort_values("Total Purchase Value", ascending=False)
profitable_items_table["Item Price"] = item_data_table["Item Price"].map("${:,.2f}".format)
profitable_items_table["Purchase Count"] = item_data_table["Purchase Count"].map("{:,}".format)
profitable_items_table["Total Purchase Value"] = item_data_table["Total Purchase Value"].map("${:,.2f}".format)
profitable_items_table = profitable_items_table.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]
profitable_items_table.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80