### Dependencies and Setup

In [53]:
# Dependencies and Setup
import pandas as pd
from IPython.display import display


# File to Load (Remember to Change These)
file_to_load = r"C:\Users\hmwhi\OneDrive\Desktop\GitHub\Pandas-challenge\Heroes of Pymoli\purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [54]:
total_players = purchase_data["SN"].nunique()

tp_df = pd.DataFrame({
    "Total Players" : [total_players]
})

# print(f"Total # of Players: {total_players}")

tp_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
# create df for items
items_df = purchase_data[["Item ID","Item Name","Price"]]
items_df = items_df.drop_duplicates(subset=["Item ID"])

In [56]:
# set variables

total_items = items_df["Item ID"].nunique()
sum_of_price = items_df["Price"].sum()


avg_item_price = (sum_of_price / total_items).__round__(2)
avg_item_price = (f"$ {avg_item_price}")
total_count_purchases = purchase_data["Purchase ID"].count()

total_revenue = purchase_data["Price"].sum()
total_revenue = (f"$ {total_revenue}")
# summary table 

PA_summary = pd.DataFrame(
    {"Unique Items" : [total_items],
    "Average Item Price" : [avg_item_price],
    "Number of Purchases" : [total_count_purchases],
    "Total Revenue" : [total_revenue]
    })

PA_summary

   Unique Items Average Item Price  Number of Purchases Total Revenue
0           179             $ 3.04                  780     $ 2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [57]:
# count the number of each gender
genderdf = purchase_data[["SN","Gender"]]
genderdf = genderdf.drop_duplicates(subset=['SN'])

male_count = genderdf.Gender == "Male"
male_count = male_count.sum()

female_count = genderdf.Gender == "Female"
female_count = female_count.sum()

other_count = genderdf.Gender == "Other / Non-Disclosed"
other_count = other_count.sum()

In [58]:
# calculate percentages

male_percent = (male_count / total_players).round(2)
female_percent = (female_count / total_players).round(2)
other_percent = (other_count / total_players).round(2)

In [59]:
# create gender summary table

gender_summary = pd.DataFrame({
    "Total Count" : [male_count,female_count,other_count],
    "Percentage of Players" : [male_percent,female_percent,other_percent]
})

gender_summary.index = ['Male','Female','Other / Non-Disclosed']

gender_summary

                       Total Count  Percentage of Players
Male                           484                   0.84
Female                          81                   0.14
Other / Non-Disclosed           11                   0.02


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [60]:
# make tables for each gender

gender_PA_df = purchase_data[["SN","Gender", "Purchase ID", "Price"]]

male_PA_df = gender_PA_df.loc[gender_PA_df["Gender"] == "Male", ["SN","Purchase ID","Price"]]
female_PA_df = gender_PA_df.loc[gender_PA_df["Gender"] == "Female", ["SN","Purchase ID","Price"]]
other_PA_df = gender_PA_df.loc[gender_PA_df["Gender"] == "Other / Non-Disclosed", ["SN","Purchase ID","Price"]]


#

In [61]:
# purchase count per gender
male_purchases = male_PA_df["Purchase ID"].count()
female_purchases = female_PA_df["Purchase ID"].count()
other_purchases = other_PA_df["Purchase ID"].count()

# total purchase value per gender
male_total = male_PA_df["Price"].sum()
female_total = female_PA_df["Price"].sum()
other_total = other_PA_df["Price"].sum()

In [62]:
# average purchase price per gender * round this for summary table
male_avg_purchase = (male_total/male_purchases)
female_avg_purchase = (female_total/female_purchases)
other_avg_purchase = (other_total/other_purchases)

# unique purchases per gender
unique_male_purchases = male_PA_df["SN"].nunique()
unique_female_purchases = female_PA_df["SN"].nunique()
unique_other_purchases = other_PA_df["SN"].nunique()

# average purchase per person per gender
male_avg_per_person = male_total/unique_male_purchases
female_avg_per_person = female_total/unique_female_purchases
other_avg_per_person = other_total/unique_other_purchases
print(male_avg_per_person,female_avg_per_person,other_avg_per_person)

4.065371900826446 4.468395061728395 4.5627272727272725

In [64]:
# Purchase Analysis - Gender
gender_purchases_summary = pd.DataFrame({
    "Purchase Count" : [male_count,female_count,other_count],
    "Average Purchase" : [male_avg_purchase,female_avg_purchase,other_avg_purchase],
    "Total Purchase Value" : [male_total,female_total,other_total],
    "Average Total Purchase per Person" : [male_avg_per_person,female_avg_per_person,other_avg_per_person]
})

gender_purchases_summary.index = ['Male','Female','Other / Non-Disclosed']

gender_purchases_summary

,Purchase Count,Average Purchase,Total Purchase Value,Average Total Purchase per Person
Male,484,3.017853,1967.64,4.065372
Female,81,3.203009,361.94,4.468395
Other / Non-Disclosed,11,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame